[package]
name = "axum-demo"
version = "0.1.0"
edition = "2021"
rust-version = "1.70"
authors = ["Aimeric Sorin <aimeric.sorin@gmail.com>"]
license = "Apache-2.0"
description = "Simple rust web api to demonstrate axum framework capabilities. Based on https://github.com/rust10x/rust-web-app"
repository = "https://github.com/aimericsr/axum-demo"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "axum-demo"

[dependencies]
# -- Http api
tokio = { version = "1.32.0", features = ["signal", "rt-multi-thread"] }
axum = { version = "0.6.20", features = [] }
tower-request-id = "0.2.1"
tower-http = { version = "0.4.4", features = ["fs", "timeout", "cors", "trace"] }
tower-cookies = "0.9.0"
# -- Serde
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
serde_with = "3.3.0"
# -- Db
sqlx = { version = "0.7.2", features = [ "runtime-tokio-rustls", "postgres", "uuid", "time" ] }
sqlb = "0.4.0"
# -- Crypt & Encoding
rand = "0.8.5"
hmac = "0.12.1"
sha2 = "0.10.8"
base64-url = "2.0.0"
time = "0.3.29"
 # -- Docs
utoipa = { version= "3.5.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version= "3.1.5", features = ["axum"] }
utoipa-redoc = { version= "0.1.0", features = ["axum"] }
utoipa-rapidoc = { version= "0.1.0", features = ["axum"] }
# -- Tracing
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["std", "env-filter", "json", "fmt", "tracing-log"] }
tracing-opentelemetry = "0.21.0"
# -- Prometheus
metrics = "0.21.1"
metrics-exporter-prometheus = "0.12.1"
sysinfo = "0.29.10"
# -- OpenTelemetry
axum-tracing-opentelemetry = "0.14.1"
opentelemetry = { version = "0.20.0", features = ["rt-tokio"] }
opentelemetry_sdk ={ version = "0.20.0", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.13.0", features = ["http-proto"] }
# -- Utils
async-trait = "0.1.73"
strum_macros = "0.25.2"
uuid = { version = "1.4.1", features = ["v4", "fast-rng"] }
secrecy = "0.8.0" 

[dev-dependencies]
anyhow = "1.0.75"
httpc-test = "0.1.5"
serial_test = "2.0.0"
