[package]
name = "axum-demo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
axum = { version = "0.6", features = ["macros"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "3"
tower-http = { version = "0.4", features = ["fs", "timeout", "cors"] }
tower-cookies = "0.9"
lazy-regex = "2"
async-trait = "0.1"
strum_macros = "0.24"
uuid ={ version = "1", features = ["v4", "fast-rng"]}
# -- Db
sqlx = { version = "0.6", features = [ "runtime-tokio-rustls", "postgres", "uuid", "time" ] }
sqlb = "0.3"
# -- Crypt & Encoding
rand = "0.8"
hmac = "0.12"
sha2 = "0.10"
base64-url = "2"
time = "0.3"
 # -- Docs
utoipa = { version= "3.5.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version= "3.1.5", features = ["axum"] }
utoipa-redoc = { version= "0.1.0", features = ["axum"] }
utoipa-rapidoc = { version= "0.1.0", features = ["axum"] }
# -- Observability
# Excrat information from request
axum-tracing-opentelemetry = "0.13.1"
# -- Prometheus
metrics = "0.21.1"
metrics-exporter-prometheus = "0.12.1"
sysinfo = "0.27.1"
# -- OpenTelemetry
opentelemetry = {version = "0.20.0", features = ["rt-tokio"]}
opentelemetry_sdk ={version = "0.20.0", features = ["rt-tokio"] }
opentelemetry-jaeger = {version = "0.19.0", features = ["rt-tokio"]}
opentelemetry-otlp = {version = "0.13.0", features = ["http-proto", "reqwest-client"]}
# -- Tracing
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["std", "env-filter", "json", "fmt", "tracing-log"] }
tracing-opentelemetry = "0.21.0"
tonic = "0.10.0"

# -- Test
serial_test = "2"

[dev-dependencies]
anyhow = "1"
httpc-test = "0.1.1"