[package]
name = "axum-demo"
version = "1.0.1"
edition = "2021"
rust-version = "1.74"
authors = ["Aimeric Sorin <aimeric.sorin@gmail.com>"]
license = "Apache-2.0"
description = "Simple rust web api to demonstrate axum framework capabilities. Based on https://github.com/rust10x/rust-web-app"
repository = "https://github.com/aimericsr/axum-demo"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# [profile.release]
# codegen-units = 1

[lib]
path = "src/lib.rs"
#doctest = false

[[bin]]
name = "axum-demo"
path = "src/main.rs"

# [profile.release]
# strip = "symbols"


[dependencies]
# -- Http api
tokio = { version = "1.38.0", features = ["signal", "rt-multi-thread"] }
axum = { version = "0.7.5", features = ["tokio"] }
axum-macros = "0.4.1"
tower-http = { version = "0.5.2", features = ["fs", "timeout", "cors", "trace"] }
tower = { version = "0.4.13", features = ["limit"]} 
tower-cookies = "0.10.0"
tower_governor = { version = "0.4.2", features = []}
hyper = { version = "1.3.1", features = ["full"]}
# -- Error
thiserror = "1.0.59"
problemdetails = { version = "0.4.1", features = ["axum"] }
# -- Serde
serde = { version = "1.0.199", features = ["derive"] }
serde_json = "1.0.116"
serde_with = "3.8.1"
# -- Db
sqlx = { version = "0.7.4", features = [ "runtime-tokio-rustls", "postgres", "uuid", "time" ] }
sqlb = "0.4.0"
# -- Docs
utoipa = { version= "4.2.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version= "7.0.1", features = ["axum"] }
utoipa-redoc = { version= "4.0.0", features = ["axum"] }
utoipa-rapidoc = { version= "4.0.0", features = ["axum"] }
# -- Metrics
axum-otel-metrics = "0.8.1"
# -- Tracing
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["std", "env-filter", "json", "fmt", "tracing-log"] }
# -- OpenTelemetry
opentelemetry = { version = "0.23.0", features = ["metrics"] }
opentelemetry_sdk ={ version = "0.23.0", features = ["rt-tokio", "metrics"] }
opentelemetry-otlp = { version = "0.16.0", features = ["trace", "http-proto", "metrics", "gzip-tonic", "grpc-tonic", "tonic"] }
tracing-opentelemetry = "0.24.0"
opentelemetry-semantic-conventions = "0.15.0"
opentelemetry-resource-detectors = "0.2.0"
#tower-otel = { path = "../tower-otel" }
# -- Crypt & Encoding
rand = "0.8.5"
hmac = "0.12.1"
sha2 = "0.10.8"
base64-url = "3.0.0"
time = "0.3.36"
# -- Utils
async-trait = "0.1.80"
strum_macros = "0.26.2"
uuid = { version = "1.8.0", features = ["v4", "fast-rng"] }
secrecy = "0.8.0" 
validator = "0.16.1"
validator_derive = "0.16.0"
regex = "1.10.4"
dotenvy = "0.15.7"
redact = { version = "0.1.10", features = ["serde"] }
http = "1.1.0"

[dev-dependencies]
anyhow = "1.0.82"
reqwest = { version = "0.12.4", features = ["json"]}
once_cell = "1.19.0"

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
cast_lossless = "deny"
cast_possible_truncation = "deny"
cast_possible_wrap = "deny"
cast_ptr_alignment = "deny"
cast_sign_loss = "deny"
char_lit_as_u8 = "deny"
checked_conversions = "deny"
unnecessary_cast = "deny"

