version: "3.8"

services:
  db:
    profiles: ["app"]
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "welcome"
      POSTGRES_DB: "app_db"
  prometheus:
    profiles: ["app"]
    image: prom/prometheus:v2.47.0
    ports:
      - 9090:9090
    command:
      - --web.enable-remote-write-receiver
      - --enable-feature=native-histograms
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./external-services/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  jaeger:
    profiles: ["app"]
    image: jaegertracing/all-in-one:1.49
    ports:
      # Query
      - 16686:16686
      - 14250:14250
      - 14268:14268
      # Collector
      #- 4317:4317
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: "9411"
      COLLECTOR_OTLP_ENABLED: true

  otel-collector:
    profiles: ["app"]
    image: otel/opentelemetry-collector-contrib:0.86.0
    volumes:
      - ./external-services/otel/otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension

  grafana:
    profiles: ["app"]
    image: grafana/grafana:10.1.2
    ports:
      - 3000:3000
    environment:
      GF_USERS_DEFAULT_THEME: "light"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_BASIC_ENABLED: "false"
    volumes:
      - ./external-services/grafana:/etc/grafana/provisioning
  web:
    profiles: ["app_prod"]
    image: aimeric/axum-demo:v1.0.3
    #build: .
    ports:
      - 8080:8080
    environment:
      SERVICE_DB_HOST: "db"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4317"
    env_file:
      - .env
  k6:
    profiles: ["load-test"]
    image: grafana/k6:0.46.0
    environment:
      K6_PROMETHEUS_RW_SERVER_URL: "http://prometheus:9090/api/v1/write"
      K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM: "true"
    volumes:
      - ./external-services/k6:/scripts
