version: '3.8'

services:
  db:
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "welcome"
      POSTGRES_DB: "app_db"
  prometheus:
    image: prom/prometheus:v2.47.0
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  jaeger:
    image: jaegertracing/all-in-one:1.49
    ports:
      # Agent
      - 6831:6831
      - 6832:6832
      - 5775:5775
      - 5778:5778
      # Query
      - 16686:16686
      # Collector
      - 4317:4317
      - 4318:4318
      - 14268:14268
      - 14250:14250
      - 9411:9411
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: "9411"
      COLLECTOR_OTLP_ENABLED: true
  grafana:
    image: grafana/grafana:10.1.2
    ports:
      - 3000:3000
    environment:
      GF_USERS_DEFAULT_THEME: "light"
    volumes:
      - ./config/grafana/provisioning:/etc/grafana/provisioning
  web:
    image: aimeric/axum-demo:v1.0.2
    #build: .
    ports:
      - 8080:8080
    env_file:
      - compose.env

