receivers:
  otlp:
    protocols:
      grpc:
  prometheus:
    config:
      scrape_configs:
      - job_name: 'otel-collector'
        scrape_interval: 10s
        static_configs:
        - targets: [ "0.0.0.0:8888" ]
      - job_name: axum-demo
        scrape_interval: 15s
        static_configs:
        - targets: [ "web:8080" ]

processors:
  resourcedetection:
    detectors: [ env, gcp ]
    timeout: 2s
    override: false
  batch:
    timeout: 1s

exporters:
  logging:
    loglevel: debug
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true
  prometheusremotewrite:
    endpoint: prometheus:1234
    tls:
      insecure: true

extensions:
  health_check:
  pprof:
  zpages:


service:
  extensions: [ pprof, zpages, health_check ]
  pipelines:
    metrics:
      receivers: [ otlp ]
      processors: []
      exporters: [ prometheusremotewrite, logging ]
    traces:
      receivers: [ otlp ]
      processors: [ resourcedetection, batch ]
      exporters: [ otlp/jaeger ]
