name: Security audit

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main, develop]
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Install and run deny check
        run: cargo install --locked cargo-deny  && cargo deny check

      - name: Install and run outdated
        run: cargo install --locked cargo-outdated && cargo outdated

      - name: Install and run udeps
        run: cargo install cargo-udeps --locked && cargo +nightly udeps

      - name: Install and run pants
        run: cargo install cargo-pants && cargo pants

      # - name: Install and run audit
      #   run:  cargo install cargo-audit && cargo audit

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
