name: Security audit for dependencies

env:
  RUST_VERSION: 1.85

on:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches: [main, develop, feature/**]
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  security-check:
    name: Security Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ env.RUST_VERSION }}

      - name: Install Rust toolchain
        run: |
          rustup update --no-self-update ${{ env.RUST_VERSION }}
          rustup default ${{ env.RUST_VERSION }}
          rustup update --no-self-update nightly

      - name: Check outdated dependencies
        run: cargo install --locked cargo-outdated && cargo outdated

      - name: Check unused dependencies
        run: cargo install --locked cargo-udeps && cargo +nightly udeps --all-targets

      # - name: Check dependencies licences
      #   run: cargo install --locked cargo-deny && cargo deny check

      # - name: Check known security vulerability in dependencies
      #   run: cargo install --locked cargo-pants && cargo pants

      # - name: Check
      #   run:  cargo install cargo-audit && cargo audit
