name: Security audit for dependencies

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main, develop]
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Check dependencies licences
        run: cargo install --locked cargo-deny  && cargo deny check

      - name: Check outdated dependencies
        run: cargo install --locked cargo-outdated && cargo outdated

      - name: Check unused dependencies
        run: cargo install cargo-udeps --locked && cargo +nightly udeps --all-targets

      - name: Check known security vulerability in dependencies
        run: cargo install cargo-pants && cargo pants

      # - name: Install and run audit
      #   run:  cargo install cargo-audit && cargo audit
