name: Test Code and Push Image to Docker Hub

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main]

env:
  RUST_VERSION: 1.73

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16.0-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: welcome
          POSTGRES_DB: app_db
        ports:
          - 5432:5432

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Config env variables
        run: export SERVICE_DB_HOST=postgres

      - name: Run test
        run: cargo test --test api

  fmt:
    name: Fmt
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: rustfmt

      - name: Run fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy

      - name: Run clippy
        run: cargo clippy

  build-and-push-image:
    name: Build and push image to Artifact Registry
    runs-on: ubuntu-latest
    needs: [test, fmt, clippy]
    if: github.ref == 'refs/heads/master'
    env:
      HUB_NAME: "aimeric"
      IMAGE_NAME: "axum-demo"

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push app docker image
        uses: docker/build-push-action@v4
        env:
          IMAGE_URL: ${{ env.HUB_NAME }}/${{ env.IMAGE_NAME }}
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ env.IMAGE_URL }}:latest
