name: Push docker image to GCP

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

env:
  RUST_VERSION: 1.73

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   services:
  #     postgres:
  #       image: postgres:16.0-alpine
  #       env:
  #         POSTGRES_USER: postgres
  #         POSTGRES_PASSWORD: welcome
  #         POSTGRES_DB: app_db
  #       ports:
  #       - 5432:5432

  #   steps:
  #   - name: Check out the repo
  #     uses: actions/checkout@v3

  #   - name: Install rust toolchain
  #     uses: actions-rs/toolchain@v1
  #     with:
  #       toolchain: ${{ env.RUST_VERSION }}

  #   - name: Config env variables
  #     run: export SERVICE_DB_HOST=postgres

  #   - name: Run test
  #     run: cargo test --test api

  # fmt:
  #   name: Fmt
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Check out the repo
  #     uses: actions/checkout@v3

  #   - name: Install rust toolchain
  #     uses: actions-rs/toolchain@v1
  #     with:
  #       toolchain: ${{ env.RUST_VERSION }}
  #       components: rustfmt

  #   - name: Run fmt
  #     run: cargo fmt --all -- --check

  # clippy:
  #   name: Clippy
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Install rust toolchain
  #     uses: actions-rs/toolchain@v1
  #     with:
  #       toolchain: ${{ env.RUST_VERSION }}
  #       components: clippy

  #   - name: Run clippy
  #     run: cargo clippy

  build-and-push-image:
    #needs: [test, fmt, clippy]
    name: Build and push image to Docker Hub
    runs-on: ubuntu-latest
    env:
      ARTIFACT_REGISTRY: "us-central1-docker.pkg.dev"
      REPO_NAME: "green-harvest"
      IMAGE_NAME: "web-api"

    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        # username: ${{ secrets.DOCKERHUB_USERNAME }}
        # password: ${{ secrets.DOCKERHUB_PASSWORD }}
        registry: ${{ env.ARTIFACT_REGISTRY }}
        username: _json_key
        password: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

    - name: Build and Push docker image
      uses: docker/build-push-action@v4
      env:
        IMAGE_URL: ${{ env.ARTIFACT_REGISTRY }}/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}
      with:
        context: .
        push: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
        platforms: |
          linux/amd64
          linux/arm64
        tags: |
          ${{ env.IMAGE_URL }}:latest

