name: Push docker image to GCP

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

env:
  RUST_VERSION: 1.73

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   services:
  #     postgres:
  #       image: postgres:16.0-alpine
  #       env:
  #         POSTGRES_USER: postgres
  #         POSTGRES_PASSWORD: welcome
  #         POSTGRES_DB: app_db
  #       ports:
  #       - 5432:5432

  #   steps:
  #   - name: Check out the repo
  #     uses: actions/checkout@v3

  #   - name: Install rust toolchain
  #     uses: actions-rs/toolchain@v1
  #     with:
  #       toolchain: ${{ env.RUST_VERSION }}

  #   - name: Config env variables
  #     run: export SERVICE_DB_HOST=postgres

  #   - name: Run test
  #     run: cargo test --test api

  # fmt:
  #   name: Fmt
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Check out the repo
  #     uses: actions/checkout@v3

  #   - name: Install rust toolchain
  #     uses: actions-rs/toolchain@v1
  #     with:
  #       toolchain: ${{ env.RUST_VERSION }}
  #       components: rustfmt

  #   - name: Run fmt
  #     run: cargo fmt --all -- --check

  # clippy:
  #   name: Clippy
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Install rust toolchain
  #     uses: actions-rs/toolchain@v1
  #     with:
  #       toolchain: ${{ env.RUST_VERSION }}
  #       components: clippy

  #   - name: Run clippy
  #     run: cargo clippy

  build-and-push-image:
    name: Build and push image to Artifact Registry
    runs-on: ubuntu-latest
    #needs: [test, fmt, clippy]
    env:
      ARTIFACT_REGISTRY: "us-central1-docker.pkg.dev"
      REPO_NAME: "green-harvest"
      IMAGE_NAME: "web-api"
      OTEL_COLLECTOR_IMAGE_NAME: "otel-collector"
      CLOUD_RUN_ID: "green-harvest-web-api"

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Artifact Registry
      uses: docker/login-action@v3
      with:
        # username: ${{ secrets.DOCKERHUB_USERNAME }}
        # password: ${{ secrets.DOCKERHUB_PASSWORD }}
        registry: ${{ env.ARTIFACT_REGISTRY }}
        username: _json_key
        password: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

    - name: Build and Push otel docker image
      uses: docker/build-push-action@v4
      env:
        IMAGE_URL: ${{ env.ARTIFACT_REGISTRY }}/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.OTEL_COLLECTOR_IMAGE_NAME }}
      with:
        context: infrastructure/cloud-run/otel-collector
        push: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
        platforms: |
          linux/amd64
          linux/arm64
        tags: |
          ${{ env.IMAGE_URL }}:latest

    # - name: Build and Push app docker image
    #   uses: docker/build-push-action@v4
    #   env:
    #     IMAGE_URL: ${{ env.ARTIFACT_REGISTRY }}/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}
    #   with:
    #     context: .
    #     push: true
    #     cache-from: type=gha
    #     cache-to: type=gha,mode=max
    #     platforms: |
    #       linux/amd64
    #       linux/arm64
    #     tags: |
    #       ${{ env.IMAGE_URL }}:latest

    - id: "auth"
      name: "Authenticate to Google Cloud"
      uses: "google-github-actions/auth@v1"
      with:
        credentials_json: "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}"

    - name: Set variable into the yaml file for deployment
      env:
        IMAGE_URL: ${{ env.ARTIFACT_REGISTRY }}/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}
      run: |
        cd infrastructure/cloud-run
        sed -i s@%OTELCOL_IMAGE%@${IMAGE_URL}:latest@g run-service.yaml
        sed -i s@%APP_IMAGE%@${IMAGE_URL}:latest@g run-service.yaml

    - name: Deploy To Cloud Run
      run: |
        cd infrastructure/cloud-run
        gcloud run services replace --region=europe-west9 run-service.yaml
        gcloud run services set-iam-policy --region=europe-west9 $CLOUD_RUN_ID policy.yaml
